body{background-color: rgb(244, 248, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.container{
    display: flex;
    align-items: center;
}
.azul{background-color: aqua; 
width: 100px;
height: 330px ;
display: flex;
position: relative;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
box-shadow: inset 5px 0px 8px 0px rgb(0, 0, 0, 0.8);

}
.menos{
    position: absolute;
    right: 10px;
    top: 25px;
    height: 6px;
    width: 17px;
    background-color: rgb(0, 10, 0);
    border-radius: 3px;
    
}
.joystick{
        position: absolute;
    right:25px;
    top: 55px;
    height: 50px;
    width: 50px;
    background-color: rgb(0, 10, 0);
    border-radius: 25px;
    box-shadow: inset 0px 0px 0px 3px rgb(54, 54, 54, 25)
}
.arriba{
    position: absolute;
    right: 40px;
    bottom: 53%;
    height: 23px;
    width: 23px;
    background-color: rgb(0, 10, 0);
    border-radius: 25px;
}
.abajo{
    position: absolute;
    right: 40px;
    bottom: 40%;
    height: 23px;
    width: 23px;
    background-color: rgb(0, 10, 0);
    border-radius: 25px;
}
.izq{
    position: absolute;
    right: 61px;
    bottom: 46%;
    height: 23px;
    width: 23px;
    background-color: rgb(0, 10, 0);
    border-radius: 25px;
}
.der{
    position: absolute;
    left: 58px;
    bottom: 46%;
    height: 23px;
    width: 23px;
    background-color: rgb(0, 10, 0);
    border-radius: 25px;
}
.cuadrado{
    position: absolute;
    right: 20px;
    bottom: 100px;
    height: 20px;
    width: 20px;
    background-color: rgb(0, 10, 0);
    border-radius: 3px;
    
}
.circulito{position: absolute;
    right: 22px;
    bottom: 102px;
    height: 15px;
    width: 15px;
    background-color: rgb(54, 54, 54);
    border-radius: 50%;
    

}
.negro{
    background-color: rgb(59, 58, 58); 
    width: 580px ;
    height: 330px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.borde{
    background-color: rgb(5, 5, 5); 
    width: 550px ;
    height: 310px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.imagen{
    background-color: rgb(8, 172, 223);
    width: 500px ;
    height: 300px;
}
.rojo{background-color: rgb(255, 0, 0); 
width: 100px;
height: 330px ;
display: flex;
position: relative;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
box-shadow: inset -5px 0px 8px 0px rgb(0, 0, 0, 0.8);
}
.mas1{position: absolute;
    left: 10px;
    top: 25px;
    height: 6px;
    width: 17px;
    background-color: rgb(0, 10, 0);

}
.mas2{position: absolute;
    left: 10px;
    top: 25px;
    height: 6px;
    width: 17px;
    background-color: rgb(0, 10, 0);
    transform: rotate(90deg);
}
.joystick2{
    
    position: absolute;
    right:25px;
    bottom: 125px;
    height: 50px;
    width: 50px;
    background-color: rgb(0, 10, 0);
    border-radius: 25px;
    box-shadow: inset 0px 0px 0px 3px rgb(54, 54, 54, 25)
}
.circulo{
        position: absolute;
        left: 20px;
        bottom: 100px;
        height: 20px;
        width: 20px;
        background-color: rgb(0, 10, 0);
        border-radius: 50%;
        box-shadow: inset 0px 0px 0px 3px rgb(54, 54, 54, 25)
}
.boton-x{
    position: absolute;
    color: rgb(205, 207, 209);
    right: 40px;
    top: 13%;
    height: 23px;
    width: 23px;
    background-color: rgb(0, 10, 0);
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
}
.boton-y{
    position: absolute;
    color: rgb(205, 207, 209);
    right: 60px;
    top: 19.5%;
    height: 23px;
    width: 23px;
    background-color: rgb(0, 10, 0);
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
}
.boton-b{
    position: absolute;
    color: rgb(205, 207, 209);
    right: 40px;
    top: 26%;
    height: 23px;
    width: 23px;
    background-color: rgb(0, 10, 0);
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
}
.boton-a{
    position: absolute;
    color: rgb(205, 207, 209);
    right: 19px;
    top: 19.5%;
    height: 23px;
    width: 23px;
    background-color: rgb(0, 10, 0);
    border-radius: 25px;
    text-align: center;
    font-size: 18px;

}